<h1>Add Actor</h1>

<form action="/create_actor" class="form-horizontal">
  <div class="form-group">
    <label for="dob" class="col-md-2 control-label">
      DOB
    </label>
    <div class="col-md-10">
      <input type="text" name="dob" class="form-control" placeholder="DOB">
    </div>
  </div>

  <div class="form-group">
    <label for="name" class="col-md-2 control-label">
      Name
    </label>
    <div class="col-md-10">
      <input type="text" name="name" class="form-control" placeholder="Name">
    </div>
  </div>

  <div class="form-group">
    <label for="bio" class="col-md-2 control-label">
      Bio
    </label>
    <div class="col-md-10">
      <input type="text" name="bio" class="form-control" rows="3" placeholder="Bio">
    </div>
  </div>

  <div class="form-group">
    <label for="image_url" class="col-md-2 control-label">
      Image
    </label>
    <div class="col-md-10">
      <input type="text" name="image_url" class="form-control" placeholder="Image">
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <input type="submit" class="btn btn-primary" value="Create Actor">
    </div>
  </div>
</form>
